/* 全局背景、字体、字号、颜色、行高、页边距等 */
html {
  -webkit-text-size-adjust: none;

}

* {
  margin: 0px;
  padding: 0px;


}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}

a {
  text-decoration: none !important;
  color: #000;
}

.h30 {
  height: 30px;
  opacity: 0;
}

.h59 {
  height: 59px;
}

.w1320 {
  max-width: 1320px;
  margin: 0 auto;
}

#app {
  background-color: #ffe7d9;
}



body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #000;
  font-family: tahoma, arial, 微软雅黑, 宋体, sans-serif !important;

}

/* CSS3盒子模型 */
ul,
li,
dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

em,
i {
  font-style: normal;
}

em {
  display: inline-block;
  vertical-align: middle;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* 公共匹配样式 */
* {
  outline: none;

}

a,
img {
  border: none;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: middle;
}