/* 产品推荐 */
.product {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.text {
  margin-top: 20px;
}

.product-content ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.product-content ul li {
  width: calc(100% / 4 - 10px);
  height: 100%;
  margin-top: 20px;
  position: relative;
}

.product-img {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.product-img img:hover {
  scale: 1.2;
}

.product-title {
  padding: 7px;
  text-align: center;
}

.product-title h4 {
  font-weight: 600;
  margin: 5px 0;
  font-size: 16px;
}